<!doctype html>
<html data-critters-container>
<head>
  <meta charset="utf-8">
  <title>{{ .AppTitle }}</title>
  <base href="{{ .AppBase }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="{{ .AppBase }}static/assets/icon.svg">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ .AppBase }}static/assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ .AppBase }}static/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ .AppBase }}static/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ .AppBase }}static/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="{{ .AppBase }}static/assets/favicon/safari-pinned-tab.svg" color="#0d6efd">
  <link rel="shortcut icon" href="{{ .AppBase }}static/assets/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-config" content="{{ .AppBase }}assets/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="{{ .AppBase }}static/styles.css" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ .AppBase }}static/overrides.css" media="print" onload="this.media='all'">
  <noscript><link rel="stylesheet" href="{{ .AppBase }}static/styles.css"></noscript>
</head>
<body>
  <shpp-root>
    <script src="{{ .AppBase }}static/runtime.js" type="module"></script>
    <script src="{{ .AppBase }}static/polyfills.js" type="module"></script>
    <script src="{{ .AppBase }}static/main.js" type="module"></script>
  </shpp-root>
</body>
</html>
